<div class="card m-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{message}}</p>
        <div class="d-flex flex-column">
            <button type="button" class="btn btn-primary m-2" (click)="onHandleClick('Primary')">Primary</button>
            <button type="button" class="btn btn-secondary m-2" (click)="onHandleClick('Secondary')">Secondary</button>
            <button type="button" class="btn btn-success m-2" (click)="onHandleClick('Success')">Success</button>
        </div>

    </div>
</div>