<h4>Transforming data using pipe angular and services file</h4>
<ol class="list-group ">
    <li class="list-group-item">{{employee.idE }} "| piper uppercase == " {{employee.idE | uppercase}}</li>
    <li class="list-group-item">{{employee.name}} "| piper lowercase == " {{employee.name | lowercase}}</li>
    <li class="list-group-item">{{employee.age}} "| number'0.1 == ' {{employee.age | number: '0.2'}} </li>
    <li class="list-group-item">{{employee.designation}} don't use piper </li>
    <li class="list-group-item">{{employee.dateJoin}} "| date : 'mm/dd/yyyy' == " {{employee.dateJoin | date: 'dd/MM/yyyy'}} </li>
    <li class="list-group-item">{{employee.salary}} "| currency 'VND' == " {{employee.salary | currency: 'VND'}} </li>
    <li class="list-group-item">
        JSON: employee | json === <pre>
          {{employee |json}}
        </pre>
    </li>

</ol>