<h3 class="text-danger text-center">
    PRODUCT ITEMS
</h3>
<table class="table table-striped  table-hover">
    <thead class="bg-secondary text-white">
        <tr>
            <th class="col">Product Id</th>
            <th class="col">Name</th>
            <th class="col">Image</th>
            <th class="col">Price</th>
            <th class="col">Quanlity</th>
            <th class="col">Total</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{product.pId}}</td>
            <td>{{product.name}}</td>
            <td>
                <img [src]="product.imgage" alt="anh san pham" width="50px">
            </td>
            <td>{{product.price}}</td>
            <td>
                <i class="fa-solid fa-circle-minus " (click)="onHandleChangeQty(-1)"></i>
                <span>
                      {{product.qty}}
                    </span>
                <i class="fa-solid fa-circle-plus" (click)="onHandleChangeQty(1)"></i>
            </td>
            <td>$ {{product.qty * product.price}} </td>




        </tr>
    </tbody>
</table>