<div class="card" [class.bg-dark]="darkMode" [class.text-white]="darkMode" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <div class="form-check form-switch pt-3">
            <input class="form-check-input" type="checkbox" name="darkMode" [(ngModel)]="darkMode" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Dark mode</label>
        </div>
        <img src="https://i.pinimg.com/564x/1f/a5/04/1fa504bb0335a5d782bdff7b7a703ea3.jpg" class="card-img-top" alt="...">

    </div>

</div>