<app-Header>
</app-Header>
<div class="container">

    <h1>
        {{title.toUpperCase()}}
    </h1>
    <div class="d-flex align-items-center justify-content-around flex-wrap">
        <app-Card></app-Card>
        <app-Card></app-Card>
        <app-Card></app-Card>
    </div>
    <div class="m-auto ">
        <div class="container">
            <app-Counter></app-Counter>
        </div>
    </div>
    <div class="m-auto mt-5">
        <div class="container">
            <app-WishMessage></app-WishMessage>
        </div>
    </div>
    <div class="m-auto  mt-5">
        <div class="container">
            <app-ProductItem></app-ProductItem>
        </div>
    </div>
    <div class="m-auto  mt-5">
        <div class="container">
            <app-ShoppingCart> </app-ShoppingCart>
        </div>
    </div>
    <div class="m-auto  mt-5">
        <div class="container">
            <app-OnChangeEvent></app-OnChangeEvent>
        </div>
    </div>
    <div class="m-auto  mt-5">
        <div class="container ">
            <div class="card shadow-lg p-3 mb-5 bg-body">
                <app-ToggleShowPassword></app-ToggleShowPassword>
            </div>
        </div>
    </div>
    <div class="m-auto  mt-5">
        <div class="container ">
            <div class="card shadow-lg p-3 mb-5 bg-body">
                <app-AmountRange></app-AmountRange>
            </div>
        </div>
    </div>
    <div class="m-auto mt-5">
        <div class="container">
            <div class="card shadow-lg p-3 mb-5 bg-body d-flex align-items-center ">
                <app-Theme></app-Theme>
            </div>
        </div>
    </div>
    <div class="m-auto mt-5">
        <div class="container">
            <div class="card shadow-lg p-3 mb-5 bg-body d-flex align-items-center ">
                <app-UserRegister></app-UserRegister>
            </div>
        </div>
    </div>
</div>