/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    h1 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: brown;
    }
    a {
        text-decoration: none;
    }
}