<form>
    <h4 class="text-center p-2">
        Toggle show password
    </h4>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type={{inputType}} name="password" class="form-control" id="exampleInputPassword1" (input)="onHandleChange($event)">
    </div>
    {{password}}

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="onHandleToggleShowPassword($event)">
        <label class="form-check-label" for="exampleCheck1">Toggle show password</label>
    </div>
</form>